<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{{ status_code }} {{ status_text }}</title>
    <link rel="stylesheet" href="{{ asset('plugins/bootstrap/dist/css/bootstrap.min.css','frontend') }}">
    <link rel="stylesheet" href="{{ asset('plugins/font-awesome/css/font-awesome.min.css','frontend') }}">
    <link rel="stylesheet" href="{{ asset('plugins/Ionicons/css/ionicons.min.css','frontend') }}">
    <link rel="stylesheet" href="{{ asset('plugins/adminlte/css/AdminLTE.min.css','frontend') }}">
</head>
<body>
<section class="content">
    <div class="error-page">
        <h2 class="headline text-red" style="margin-top: 0px;"> {{ status_code }}
          {% if 403==status_code %}<i class="fa fa-user-secret text-red" style="font-size: 110px;"></i>{% endif %}
        </h2>
        <div class="error-content">
            <h3> Oops! {{ status_text }}.</h3>
            <p>
                {% if 404 == status_code %}
                    哇哦，你的姿势不正确。页面没有找到。
                {% elseif 500 ==status_code %}
                  服务器有些小BUG,我们正在飞快修复。
                {% elseif 403 ==status_code %}
                  你没有权限浏览该页面。
                {% endif %}
            </p>
        </div>
    </div>
</section>
<script src="{{ asset('plugins/jquery/dist/jquery.min.js','frontend') }}"></script>
<script src="{{ asset('plugins/bootstrap/dist/js/bootstrap.min.js','frontend') }}"></script>
</body>
</html>