{% extends '@Layouts/frontendFrame.html.twig' %}
{% from '@Frontend/partial/toolbar.html.twig' import toolbar %}
{% from '@Frontend/Macros/aside.html.twig' import aside %}
{% block title %}
  <title>{{ article.title }} - 网站建设|北京网站制作|北京网站设计</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
{% endblock %}
{% set _pre = prevArticle(article.id,article.categoryId) %}
{% set _next = nextArticle(article.id,article.categoryId) %}
{% block content %}
  {% include '@Frontend/partial/header.html.twig' %}
    <section role="main" class="subpage current active">
        <div class="main-box">
            {{ toolbar(categorys,1,article) }}
            <div class="information-table">
                <div class="information-row">
                    <div class="information-descript info1">
                        <div class="information-title">
                            <h1>{{ article.title }}</h1>
                            <em>
                                <u>阅读</u>
                                <i class="fa fa-eye"></i>
                                {{ article.flow }}
                                &nbsp;·&nbsp;
                                <u>发布日期</u>
                                <i class="fa fa-clock-o"></i>
                                {{ article.createdAt.format('Y-m-d H:i:s') }}
                                {#&nbsp;·&nbsp;
                                <i class="fa fa-smile-o"></i>
                                普川#}
                            </em>
                        </div>
                        <div class="information-content">
                            {% if article.thumbnail %}
                            <p><img src="{{ article.thumbnail }}"></p>
                            {% endif %}
                            {{ article.content|raw }}
                        </div>
                    </div>

                    {{ aside(recommends) }}

                </div>
            </div>
            <div class="page-main">
                <ul class="pager pager-round">
                    {% if _pre %}
                    <li class="previous ">
                        <a href="{{ path('article_info',{id: _pre.id}) }}">上一篇<span aria-hidden="true" class="hidden-xs">：{{ _pre.title }}</span></a>
                    </li>
                    {% else %}
                        <li class="previous disabled">
                            <a href="#">上一篇<span aria-hidden="true" class="hidden-xs">：没有了</span></a>
                        </li>
                    {% endif %}
                    {% if _next %}
                    <li class="next ">
                        <a href="{{ path('article_info',{id: _next.id}) }}">下一篇<span aria-hidden="true" class="hidden-xs">：{{ _next.title }}</span></a>
                    </li>
                    {% else %}
                        <li class="next disabled">
                            <a href="#">下一篇<span aria-hidden="true" class="hidden-xs">：没有了</span></a>
                        </li>
                    {% endif %}
                </ul>
            </div>

            <button type="button" class="btn btn-icon btn-primary btn-squared met-scroll-top hide">
                <i class="icon wb-chevron-up" aria-hidden="true"></i>
            </button>
        </div>
    </section>

{% endblock %}

{% block css %}
  <!--start-->
  <link rel="stylesheet" href="{{ asset('static/css/index.css','frontend') }}">
  <!--web-icons-->

  <link rel="stylesheet" href="{{ asset('plugins/font-awesome/css/font-awesome.min.css','frontend') }}">
    {#<link rel="stylesheet" href="{{ asset('static/css/swiper-3.3.1.min.css','frontend') }}">#}
  <link rel="stylesheet" href="{{ asset('static/css/webui-popover.min.css','frontend') }}">
  <link rel="stylesheet" href="{{ asset('static/css/metinfo.css','frontend') }}">
  <!--end-->

{% endblock %}
{% block js %}

  <script src="{{ asset('static/js/breakpoints.min.js','frontend') }}"></script>
  <script src="{{ asset('static/js/core.min.js','frontend') }}"></script>
    {#<script src="{{ asset('static/js/site.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/modernizr.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/formValidation.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.placeholder.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.asScrollable.all.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.asScrollable.all.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/alertify.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.appear.js','frontend') }}"></script>#}
  <script src="{{ asset('static/js/jquery.webui-popover.min.js','frontend') }}"></script>
    {#<script src="{{ asset('static/js/masonry.pkgd.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.bootstrap-touchspin.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/spin.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/ladda.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/tablesaw.js','frontend') }}"></script>#}
  <script src="{{ asset('static/js/swiper-3.3.1.jquery.min.js','frontend') }}"></script>
    {#<script src="{{ asset('static/js/jquery.lazyload.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/lightgallery-all.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.matchHeight-min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/slick.min.js','frontend') }}"></script>#}
  <script src="{{ asset('static/js/jquery.cookie.js','frontend') }}"></script>
    {#<script src="{{ asset('static/js/isotope.pkgd.min.js','frontend') }}"></script>#}
  <script src="{{ asset('static/js/metinfo.js','frontend') }}"></script>
  <script>
      $('.sidebar-icon').on('click',function(){
          if($(this).hasClass('active')){
              $(this).removeClass('active');
              $('section[role=main],header[role=heading]').removeClass('active');
              $.cookie('head_active','current',{path:'/'});
          }else{
              $(this).addClass('active');
              $('section[role=main],header[role=heading]').addClass('active');
              $.cookie('head_active','active',{path:'/'});
          }
          window.setTimeout(function(){
              if($('#met-grid').length>0) MetAnimOnScroll();
          },500);
      });
      if( /Android|webOS|iPhone|iPad|iPod|BlackBerry|IEMobile|Opera Mini/i.test(navigator.userAgent) ) {
          $('.sidebar-icon').click()
      }
  </script>
{% endblock %}