{% extends '@Layouts/frontendFrame.html.twig' %}
{% from '@Frontend/partial/toolbar.html.twig' import toolbar %}
{% block title %}
  <title>{{ case.title }} - 网站建设|北京网站制作|北京网站设计</title>
  <meta name="keywords" content="">
  <meta name="description" content="">
{% endblock %}
{% set _pre = prevCase(case.id,case.categoryId) %}
{% set _next = nextCase(case.id,case.categoryId) %}
{% block content %}
  {% include '@Frontend/partial/header.html.twig' %}
  <section role="main" class="subpage active">
    <div class="main-box">
      <div class="banner-content">
        <div class="banner-click"><i class="fa fa-arrows-alt"></i></div>
        <div class="met-banner " data-height="450|350|250">
          <div class="slick-slide">
            <img class="cover-image" src="{{ case.banner }}" srcset='' alt="{{ case.title }}">
          </div>
        </div>
      </div>
        {{ toolbar(categorys,2,case) }}
      <div class="product-title">项目介绍</div>
      <div class="product-descript">
        <h3>{{ case.title }}</h3>
        <font>
          发布日期
          <i class="fa fa-clock-o"></i>
          {{ case.createdAt.format('Y-m-d H:i:s') }}
        </font>
          <div>
              {{ case.introduce|raw }}
          </div>
        <span>
    {% if case.showPrice %}
	<b>套餐价格</b>
	<i class="fa fa-tag"></i>
    <a title="套餐价格">{{ case.price }}</a>
    {% endif %}
  </span>
      </div>
	  {% if case.video %}
	  <div class="product-title">视频欣赏</div>
      <div class="product-content">
          <video src="{{ case.video }}" controls="controls" width="1000px" style="border:#ffffff 20px solid;border-bottom:none">您的浏览器不支持 video 标签。</video>
      </div>
	  {% endif %}
      <div class="product-title">详细信息</div>
      <div class="product-content">
          {{ case.content|raw }}
      </div>
      <div class="page-main">
        <ul class="pager pager-round">
            {% if _pre %}
                <li class="previous">
                    <a href="{{ path('case_info',{id: _pre.id}) }}" title="{{ _pre.title }}">
                        上一篇
                        <span aria-hidden="true" class='hidden-xs'>：{{ _pre.title }}</span>
                    </a>
                </li>
            {% else %}
                <li class="previous disabled">
                    <a href="#" title="没有了">
                        上一篇
                        <span aria-hidden="true" class='hidden-xs'>：没有了</span>
                    </a>
                </li>
            {% endif %}
            {% if _next %}
                <li class="next ">
                    <a href="{{ path('case_info',{id: _next.id}) }}" title="{{ _next.title }}">
                    下一篇
                    <span aria-hidden="true" class='hidden-xs'>：{{ _next.title }}</span>
                </a>
                </li>
            {% else %}
                <li class="next disabled">
                    <a href="#" title="没有了">
                        下一篇
                        <span aria-hidden="true" class='hidden-xs'>：没有了</span>
                    </a>
                </li>
            {% endif %}
        </ul>
      </div>

      <button type="button" class="btn btn-icon btn-primary btn-squared met-scroll-top hide">
        <i class="icon wb-chevron-up" aria-hidden="true"></i>
      </button>
    </div>
  </section>

{% endblock %}

{% block css %}
  <!--start-->
  <link rel="stylesheet" href="{{ asset('static/css/index.css','frontend') }}">
  <!--web-icons-->
  <link rel="stylesheet" href="{{ asset('plugins/font-awesome/css/font-awesome.min.css','frontend') }}">
    {#<link rel="stylesheet" href="{{ asset('static/css/swiper-3.3.1.min.css','frontend') }}">#}
  <link rel="stylesheet" href="{{ asset('static/css/webui-popover.min.css','frontend') }}">
  <link rel="stylesheet" href="{{ asset('static/css/metinfo.css','frontend') }}">
  <!--end-->
{% endblock %}
{% block js %}
  <script src="{{ asset('static/js/breakpoints.min.js','frontend') }}"></script>
  <script src="{{ asset('static/js/core.min.js','frontend') }}"></script>
    {#<script src="{{ asset('static/js/site.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/modernizr.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/formValidation.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.placeholder.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.asScrollable.all.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.asScrollable.all.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/alertify.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.appear.js','frontend') }}"></script>#}
  <script src="{{ asset('static/js/jquery.webui-popover.min.js','frontend') }}"></script>
    {#<script src="{{ asset('static/js/masonry.pkgd.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.bootstrap-touchspin.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/spin.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/ladda.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/tablesaw.js','frontend') }}"></script>#}
  <script src="{{ asset('static/js/swiper-3.3.1.jquery.min.js','frontend') }}"></script>
    {#<script src="{{ asset('static/js/jquery.lazyload.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/lightgallery-all.min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/jquery.matchHeight-min.js','frontend') }}"></script>#}
    {#<script src="{{ asset('static/js/slick.min.js','frontend') }}"></script>#}
  <script src="{{ asset('static/js/jquery.cookie.js','frontend') }}"></script>
    {#<script src="{{ asset('static/js/isotope.pkgd.min.js','frontend') }}"></script>#}
  <script src="{{ asset('static/js/metinfo.js','frontend') }}"></script>
  <script>
      $('.sidebar-icon').on('click',function(){
          if($(this).hasClass('active')){
              $(this).removeClass('active');
              $('section[role=main],header[role=heading]').removeClass('active');
              $.cookie('head_active','current',{path:'/'});
          }else{
              $(this).addClass('active');
              $('section[role=main],header[role=heading]').addClass('active');
              $.cookie('head_active','active',{path:'/'});
          }
          window.setTimeout(function(){
              if($('#met-grid').length>0) MetAnimOnScroll();
          },500);
      });
	  $('.sidebar-icon').click()
  </script>
{% endblock %}