{% macro artlist(articles) %}
  <ul class="met-page-ajax">
    {% for item in articles %}
      <li class="news_img">
        <font><b>{{ item.createdAt.format('d') }}</b><u>{{ item.createdAt.format('M') }}</u></font>
        <a href="{{ path('article_info',{id: item.id}) }}" title="{{ item.title }}" target='_blank'>
          <img src="{{ parameter('img_prefix') }}{{ item.thumbnail }}" alt="{{ item.title }}" data-original="{{ parameter('img_prefix') }}{{ item.thumbnail }}" >
        </a>
        <span>
        <a href="{{ path('article_info',{id: item.id}) }}" title="{{ item.title }}" target='_self'><h3>{{ item.title }}</h3></a>
        <em>
          <u>阅读</u>
          <i class="fa fa-eye"></i>
            {{ item.flow }}
          &nbsp;·&nbsp;
          <u>发布日期</u>
          <i class="fa fa-clock-o"></i>
            {{ item.createdAt.format('Y-m-d') }}
          {#&nbsp;·&nbsp;
          <i class="fa fa-smile-o"></i>
          马化腾#}
        </em>
        <p>　{{ item.introduce }}　</p>
        <strong>
          <i class="fa fa-tag"></i>
            {% for tag in item.tags %}
              <a href="{{ path('tag_list',{tagId: tag.id}) }}" target="_blank">{{ tag.name }}</a>
            {% endfor %}
        </strong>
      </span>
      </li>
    {% endfor %}
  </ul>
    {{ knp_pagination_render(articles,'@Partial/sliding_frontend.html.twig') }}
{% endmacro %}