{% macro aside(recommend) %}
<div class="information-hots">
  <div>
    <h3>为您推荐</h3>
    <ul>
      {% for item in recommend %}
      <li>
        <a href="{{ path('article_info',{id: item.id}) }}" title="{{ item.title }}" target="_self">
          <img data-original="{{ item.thumbnail }}" title="{{ item.title }}" src="{{ item.thumbnail }}" class="imgload">
          <span>{{ item.title|slice(0,25) }}...</span>
          <font><i class="fa fa-clock-o"></i> {{ item.createdAt.format('Y-m-d') }}</font>
        </a>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endmacro %}
