{% macro caselist(cases) %}
  <section class="caselist content active" style="width: 1595px;">
    <ul class="items list-inline" style="margin-left: 137px;">
      {% for item in cases %}
        <li>
          <a href="{{ path('case_info',{id: item.id}) }}" target="_blank"><div class="shade"><u></u></div>
            <img style="max-height: 176px;max-width: 300px;" src="{{ parameter('img_prefix') }}{{ item.thumbnail }}" alt="{{ item.title }}" class="img-responsive">
            <p>网站设计<br><strong>{{ item.title }}</strong><br>{% for tag in item.tags %}{{ tag.name }}{% if not loop.last %},{% endif %}{% endfor %}</p><div class="bg"><u></u></div></a>
        </li>
      {% endfor %}
    </ul>
    {{ knp_pagination_render(cases,'@Partial/sliding_frontend.html.twig') }}
  </section>
{% endmacro %}