{% macro caselist(cases) %}
    <div class="pro-box">
        <ul class="met-page-ajax">
        {% for item in cases %}
        <li class="case-bin pro" style="width:320px;">
            <a href="{{ path('case_info',{id: item.id}) }}" title="{{ item.title }}">
                <font>
                    <b></b>
                    <img src="{{ item.thumbnail }}" title="{{ item.title }}" alt="{{ item.title }}" data-original="{{ item.thumbnail }}">
                </font>
                <span>
                    <h3>{{ item.title }}</h3>
                    <p>{% if item.showPrice %}套餐价格: {{ item.price }}{% else %}<BR>{% endif %}</p>
                </span>
            </a>
        </li>
        {% endfor %}
        </ul>
        {{ knp_pagination_render(cases,'@Partial/sliding_frontend.html.twig') }}
    </div>
{% endmacro %}