<div class="window-bin" data-hash="banner">
  <div class="window-back banner" data-title="首页">
    <div class="banner-box">
      <div class="banner-cut">
        <div class="banner-bin swiper-lazy" data-background="{{ asset('static/images/wp1_1.jpg','frontend') }}">
          <div class="table-box">
            <div class="table-cell">
              <div class="banner-write ">
                <span class="w1">9</span>
                <span class="w2">
					  <span class="w21">年专注 · 互动多媒体</span>
					  <span class="w22">INTERACT</span>
					  <span class="w23">展厅/展馆（从策划设计到制作维护一体化服务）：<br/>多点触摸、投影互动、体感互动、智能控制、微信分享</span>
					</span>
              </div>
            </div>
          </div>
          <div class="banner-absolute">
            <div class="banner-full visible-lg-block">
              <ol class="list-paddingleft-2"><li><p><br/></p></li><li><p><br/></p></li><li><p><br/></p></li><li><p><br/></p></li></ol>
              <ul class="list-paddingleft-2"><li><p><br/></p></li><li><p><br/></p></li><li><p><br/></p></li><li><p><br/></p></li></ul>
            </div>
            <div class="banner-border visible-lg-block"></div>
          </div>
        </div>
        <div class="banner-bin swiper-lazy" data-background="{{ asset('static/images/wp1_2.jpg','frontend') }}">
          <div class="table-box">
            <div class="table-cell">
              <div class="banner-write">
					<span class="w2 wc">
					  <span class="w21">三维动画，虚拟现实</span>
					  <span class="w22">3D·VR</span>
					  <span class="w23">产品动画、角色动画、VR游戏开发<br/>为线下虚拟现实体验中心提供原创VR内容</span>
					</span>
              </div>
            </div>
          </div>
          <div class="banner-absolute">
            <div class="banner-background visible-lg-block"></div>
          </div>
        </div>
        <div class="banner-bin swiper-lazy" data-background="{{ asset('static/images/wp1_3.jpg','frontend') }}">
          <div class="table-box">
            <div class="table-cell">
              <div class="banner-write">
					<span class="w2 cc">
					  <span class="w21">二维动画，课件定制</span>
					  <span class="w22">2D·ANIMATION</span>
					  <span class="w23">专注于MG创意动画、剧情/角色动画、易读/飞碟说风格动画<br/>课件定制，为您的客户和团队</span>
					</span>
              </div>
            </div>
          </div>
        </div>
        <div class="banner-bin swiper-lazy" data-background="{{ asset('static/images/wp1_4.jpg','frontend') }}">
          <div class="table-box">
            <div class="table-cell">
              <div class="banner-write">
					<span class="w2 cc">
					  <span class="w21">视频拍摄，后期剪辑</span>
					  <span class="w22">I·VIDEO</span>
					  <span class="w23">全面布局<em>企业宣传片</em>、<em>广告片</em>、<br/>微电影、城市形象片、3D立体拍摄等<br/>凝聚<em>10年</em>案例经验，迅速为您提升企业形象</span>
					</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="banner-ctrl">
        <div class="ctrl-box ctrl-left"><i class="fa fa-angle-left"></i></div>
        <div class="ctrl-box ctrl-right"><i class="fa fa-angle-right"></i></div>
      </div>
      <div class="banner-news">
        <b>NEWS：</b>
        <span class="banner-span">
			  <ol class="banner-ol">
          {% for item in news %}
            <li class="banner-li"><a href="{{ path('article_info',{id: item.id}) }}" title="{{ item.title }}">{{ item.title }}</a></li>
          {% endfor %}
			  </ol>
			</span>
        <p><a href="{{ path('article_list') }}" title="新闻资讯">more</a></p>
      </div>
      <div class="banner-pager"></div>
      <div class="banner-down"><i class="fa fa-angle-down"></i></div>
    </div>
  </div>
</div>