{% set data = [
{name:'互动多媒体',ms:'展厅 / 展馆<br>从策划设计到制作维护',icon:'grav'},
{name:'三维动画',ms:'产品三维、角色三维等<br>展现真实3D之美',icon:'steam-square'},
{name:'二维动画',ms:'MG创意动画 / 角色动画<br>同时还提供课件定制',icon:'slideshare'},
{name:'视频拍摄',ms:'企业宣传片 / 广告片等<br>迅速为您提升企业形象',icon:'video-camera'},
{name:'VR虚拟现实',ms:'VR游戏 / VR立体影片<br>提供原创VR内容',icon:'simplybuilt'},
{name:'应用软件',ms:'windows/ios/android应用<br>掌握智能终端时代',icon:'windows'},
] %}
<div class="window-bin" data-hash="icon">
  <div class="window-back swiper-lazy" data-title="业务" data-background="{{ asset('static/images/wp2.jpg','frontend') }}">
    <div class="table-box">
      <div class="table-cell">
        <div class="title-box">
          <i></i>
          <h1>WHAT CAN WE DO</h1>
          <h2>我们能为您做什么？</h2>
        </div>
        <div class="height-10"></div>
        <div class="icon-box icon-type-0">
          <ul>
            {% for item in data %}
            <li>
              <a title="{{ item.name }}">
                <i class="fa fa-{{ item.icon }}"></i>
                <h3>{{ item.name }}</h3>
                <p>{{ item.ms|raw }}</p>
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
        <div class="icon-text" style="display: block;margin: 0 auto;margin-top: -40px;width: 297px;height: 21px;background: url({{ asset('static/images/words.png','frontend') }}) no-repeat 0px -333px;"></div>
      </div>
    </div>
  </div>
</div>