<div class="window-bin" data-hash="case">
  <div class="window-back swiper-lazy" data-title="作品" data-background="{{ asset('static/images/wp3.jpg','frontend') }}">
    <div class="hidden visible-sm-block visible-md-block">
    <div class="case-ctrl">
      <div class="ctrl-box ctrl-left"><i class="fa fa-angle-left"></i></div>
      <div class="ctrl-box ctrl-right"><i class="fa fa-angle-right"></i></div>
    </div>
    </div>
    <div class="table-box">
      <div class="table-cell">
        <div class="title-box">
          <h1>CASE</h1>
          <h2>作品展示</h2>
        </div>
        <div class="case-box">
          <ul class="case-cut">
            {% for item in cases %}
              <li class="case-bin">
                <a href="{{ path('case_info',{id: item.id}) }}" title="{{ item.title }}">
                  <font>
                    <b></b>
                    <img data-src="{{ parameter('img_prefix') }}{{ item.thumbnail }}" class="swiper-lazy" title="{{ item.title }}" alt="{{ item.title }}">
                  </font>
                  <span>

					  <p>{{ item.category.name }}</p>
					  <h3 style="margin-top: 15px;">{{ item.title }}</h3>
					  <!--<p>{% for tag in item.tags %}{{ tag.name }}{% if not loop.last %},{% endif %}{% endfor %}</p>-->
					</span>
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="case-more"><a href="{{ path('case_list') }}" title="查看更多作品">查看更多作品</a></div>
      </div>
    </div>
  </div>
</div>