<div class="window-bin" data-hash="contact">
  <div class="window-back swiper-lazy" data-title="联系" data-background="{{ asset('static/images/wp8.jpg','frontend') }}">
    <div class="table-box">
      <div class="table-cell">
        <div class="hidden visible-lg-block">
          <div class="contact-box">
            <div class="contact-left">
              <img src="{{ asset('static/images/wechat_code.jpg','frontend') }}"/>
            </div>
            <div class="contact-center">
              <p class="t">400-123-4567</p>
              <p>扫描关注IT行业微信公众账号</p>
              <p>中国·北京中关村科技园</p>
              <p>联系电话：+86-13751695401</p>
              <p>地址：广东揭阳人民政府左侧酒店五楼M1156间</p>
            </div>
            <div class="contact-right">
              <p>Email：writeyouremail@domain.com</p>
              <p>中文域名：互联网.中国/互联网.com</p>
              <p>Copyright 2008-2017<span style="line-height: 1.42857;">互联网</span>
                <span style="line-height: 1.42857;">&nbsp;版权所有</span></p><p>京ICP备 1234567890 号</p>
              <p>京公网安备 1010011000101 号</p>
            </div>
          </div>
          <div class="contact-text">
            <p>洒下一<em>米</em>网，开<em>拓</em>一片天</p>
            <div>Metinfo best enterprise establishment system</div>
          </div>
        </div>
        <div class="hidden visible-sm-block visible-md-block">
          <div class="contact-box">
            <div class="contact-left">
              <img src="{{ asset('static/images/wechat_code.jpg','frontend') }}"/>
            </div>
            <div class="contact-center"><p class="t">400-123-4567</p>
              <p>扫描关注IT行业微信公众账号</p>
              <p>中国·北京中关村科技园</p>
              <p>联系电话：+86-13751695401</p>
              <p>地址：广东揭阳人民政府左侧酒店五楼M1156间</p>
            </div>
            <div class="contact-right">
              <p>Email：Service@1000zhu.com</p>
              <p>中文域名：互联网.中国/互联网.com</p><p>Copyright 2008-2015互联网 版权所有</p>
              <p>京ICP备 1234567890 号</p><p>京公网安备 1010011000101 号</p>
            </div>
          </div>
          <div class="contact-text"><p>洒下一<em>米</em>网，开<em>拓</em>一片天</p>
            <div>Metinfo best enterprise establishment system</div>

          </div>
        </div>
        <div class="hidden visible-xs-block"><div class="contact-box">
            <div class="contact-left">
              <img src="{{ asset('static/images/wechat_code.jpg','frontend') }}"/>
            </div>
            <div class="contact-center">
              <p class="t">400-123-4567</p><p>扫描关注IT行业微信公众账号</p><p>中国·北京中关村科技园</p>
              <p>联系电话：+86-13751695401</p><p>地址：广东揭阳人民政府左侧酒店</p>
              <p><img class="c" src="{{ asset('static/images/wechat_code.jpg','frontend') }}"/></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>