<div class="window-bin" data-hash="contact">
  <div class="window-back swiper-lazy" data-title="联系" data-background="{{ asset('static/images/wp8.jpg','frontend') }}">
    <div class="table-box">
      <div class="table-cell">
        <div class="hidden visible-lg-block">
          <div class="contact-box">
            <div class="contact-left">
              <img src="{{ asset('static/images/wechat_contact.svg','frontend') }}"/>
            </div>
            <div class="contact-center">		  
			  <p class="t">021-52855980</p>
              <p>上海盟邑数字科技有限公司</p>
              <p>地址：上海市普陀区金沙江路1977弄金环商务花园</p>
              <p>16号楼3A03室</p>
              <p>电话：021-52855980 / 13482118020</p>
            </div>
            <div class="contact-right">
              <p>Email：shmengyi@foxmail.com</p>
			  <p>网址：www.shmeyi.cn</p>
			  <p>沪ICP备17043566号</p>
              <p>Copyright © 2011-2018 版权所有</p>
            </div>
          </div>
          <div class="contact-text">
            <p><em>成</em>就一切，<em>源</em>于懂你</p>
            <div>Touch Your Future</div>
          </div>
        </div>
        <div class="hidden visible-sm-block visible-md-block">
          <div class="contact-box">
            <div class="contact-left">
              <img src="{{ asset('static/images/wechat_contact.svg','frontend') }}"/>
            </div>
            <div class="contact-center"><p class="t">021-52855980</p>
              <p>上海盟邑数字科技有限公司</p>
              <p>地址：上海市普陀区金沙江路1977弄金环商务花园</p>
              <p>16号楼3A03室</p>
              <p>电话：021-52855980 / 13482118020</p>
            </div>
            <div class="contact-right">
              <p>Email：shmengyi@foxmail.com</p>
              <p>网址：www.shmeyi.cn</p>
              <p>沪ICP备17043566号</p>
			  <p>Copyright © 2011-2018 版权所有</p>
            </div>
          </div>
          <div class="contact-text"><p><em>成</em>就一切，<em>源</em>于懂你</p>
            <div>Touch Your Future</div>

          </div>
        </div>
        <div class="hidden visible-xs-block"><div class="contact-box">
            <div class="contact-left">
              <img src="{{ asset('static/images/wechat_contact.svg','frontend') }}"/>
            </div>
            <div class="contact-center">
              <p class="t">021-52855980</p>
			  <p>上海盟邑数字科技有限公司</p>
			  <p>地址：上海市普陀区金沙江路1977弄金环商务花园</p>
              <p>16号楼3A03室</p>
			  <p>电话：021-52855980 / 13482118020</p>
              <p><img class="c" src="{{ asset('static/images/wechat_contact.svg','frontend') }}"/></p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>