{% set joint = [
  {name:'上海妇联',url:'javascript:void(0);',img:'/static/images/fulian.svg'},
  {name:'壳牌',url:'javascript:void(0);',img:'/static/images/qiaopai.svg'},
  {name:'国家电网',url:'javascript:void(0);',img:'/static/images/dianwang.svg'},
  {name:'中国工商银行',url:'javascript:void(0);',img:'/static/images/gongshang.svg'},
  {name:'宁波通商银行',url:'javascript:void(0);',img:'/static/images/tongshang.svg'},
  {name:'光明',url:'javascript:void(0);',img:'/static/images/guangming.svg'},
  {name:'鼎新集团',url:'javascript:void(0);',img:'/static/images/dingxin.svg'},
  {name:'德克士',url:'javascript:void(0);',img:'/static/images/dekeshi.svg'},
  {name:'康师傅',url:'javascript:void(0);',img:'/static/images/kangshifu.svg'},
  {name:'乐事',url:'javascript:void(0);',img:'/static/images/leshi.svg'},
  {name:'上海隧道',url:'javascript:void(0);',img:'/static/images/suidao.svg'},
  {name:'复旦微电子',url:'javascript:void(0);',img:'/static/images/fudan.svg'},
  {name:'马自达',url:'javascript:void(0);',img:'/static/images/mazida.svg'},
  {name:'通用电气',url:'javascript:void(0);',img:'/static/images/tongyong.svg'},
  {name:'雅芳',url:'javascript:void(0);',img:'/static/images/yafang.svg'},
] %}

<div class="window-bin" data-hash="joint">
  <div class="window-back swiper-lazy" data-title="合作" data-background="{{ asset('static/images/wp4.jpg','frontend') }}">
{#    <div class="joint-ctrl">
      <div class="ctrl-box ctrl-left"><i class="fa fa-angle-left"></i></div>
      <div class="ctrl-box ctrl-right"><i class="fa fa-angle-right"></i></div>
    </div>#}
    <div class="table-box">
      <div class="table-cell">
        <div class="title-box">
          <h1>PARTNERS</h1>
          <h2>盟邑数字科技在社会各界的伙伴</h2>
        </div>
        <div class="joint-box joint-type-1">
          <ul class="joint-cut">
            {% for item in joint %}
            <li class="joint-bin">
              <a href="{{ item.url }}" title="{{ item.name }}">
                <img class="swiper-lazy" data-src="{{ item.img }}" alt="{{ item.name }}">
              </a>
            </li>
            {% endfor %}
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>