{% extends '@Layouts/backendFrame.html.twig' %}
{% block page_header %}
    <h1>第二分类管理 <a href="{{ path('b_second_category_new') }}" class="btn bg-blue btn-sm">添加</a></h1>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-md-10">
            <div class="box">
                <div class="box-header">
                    <h3 class="box-title">第二分类列表</h3>
                </div>
                <!-- /.box-header -->
                <div class="box-body no-padding">
                    <table class="table table-striped">
                        <tbody><tr>
                            <th style="width: 10px">#</th>
                            <th>上级分类</th>
                            <th>分类名称</th>
                            <th>分类URL</th>
                            <th style="width: 200px; text-align: center">操作</th>
                        </tr>
                        {% for item in categorys %}
                        <tr>
                            <td>{{ item.id }}.</td>
                            <td>{{ secondCategoryPreProtery(fcategorys,item.categoryId,'getName') }}</td>
                            <td>{{ item.name }}</td>
                            <td>/{{ secondCategoryPreProtery(fcategorys,item.categoryId,'getRoute') }}/{{ item.route }}</td>
                            <td>
                                <a href="{{ path('b_second_category_edit',{id: item.id}) }}" class="btn bg-olive btn-sm">编辑</a>
                                <button data-url="{{ path('bapi_delete_secondcategory',{id: item.id}) }}" type="button" class="btn bg-maroon btn-sm del-x">删除</button>
                            </td>
                        </tr>
                        {% endfor %}
                        </tbody></table>
                </div>
                <!-- /.box-body -->
            </div>
        </div>
    </div>
{% endblock %}
{% block js %}
<script>
    $(document).ready(function(){
        $('.del-x').on('click',function(){
            var url = $(this).attr('data-url')
            layer.confirm('确认移除？', {
                btn: ['确认','取消']
            }, function(index) {
                layer.close(index)
                var _index = layer.load(1, {
                    shade: [0.1,'#fff'] //0.1透明度的白色背景
                });
                $.ajax({
                    url    : url,
                    method : 'DELETE',
                    statusCode:{
                        204:function (res) {
                            layer.close(_index)
                            var _index=layer.msg('删除成功');
                            setTimeout("location.reload()",1000)
                        },
                        400:function (res) {
                            layer.close(_index)
                            var msg = res.responseJSON.message
                            if((typeof msg)==='string'){
                                layer.msg(msg)
                            }else {

                                for(var i in msg){
                                    layer.msg(msg[i])
                                    return
                                }
                            }
                        },
                        401:function () {
                            layer.msg('会话已过期，需要重登录！')
                        },
                        500:function () {
                            layer.close(_index)
                            layer.msg('服务器出错了')
                        }
                    }
                });
            })
        })
    })
</script>
{% endblock %}
