<header role="heading" class="current">
  <div class="head-box">
    <div class="head-top">
      <div class="logo-box">
        <a href="https://show.metinfo.cn/muban/M1156008/328/" title="互联网网站模板|IT行业网站模板">
          <img src="{{ asset('static/images/logo_article.png','frontend') }}" title="互联网网站模板|IT行业网站模板" alt="互联网网站模板|IT行业网站模板">
        </a>
      </div>

      <div class="jodo-box">
        <p><img src="{{ asset('static/images/wechat_code.jpg','frontend') }}" alt="扫一扫微信二维码"/></p>

        <p>扫一扫微信二维码 <em class="fa fa-mobile-phone"></em></p>

      </div>

    </div>
    <div class="nav-cut">
      <ul>

        <li class="nav1 active"><a href="{{ path('home') }}" title="精彩首页">精彩首页</a></li>

        <li class="nav1 ">
          <a href="{{ path('article_list') }}"  title="新闻资讯" data-alert="全部">新闻资讯</a>
        </li>

        <li class="nav1 ">
          <a href="{{ path('case_list') }}"  title="案例展示" data-alert="全部">案例展示</a>
        </li>
        <li class="background"></li>
      </ul>
    </div>
    <div class="head-bottom">
      <div class="foto-box">

        <div class="social-box">

          <a href="javascript:void(0);" rel="nofollow" target="_blank">
            <i class="fa fa-qq"></i>
          </a>

          <a href="javascript:void(0);" rel="nofollow" target="_blank"><i class="fa fa-weibo"></i></a>

          <a id="met-weixin"><i class="fa fa-weixin"></i></a>
          <div id="met-weixin-content" class="hide">
            <div class="text-center met-weixin-img"><img src="{{ asset('static/images/wechat_code.jpg','frontend') }}" /></div>
          </div>

        </div>

        <div class="foto-cut">高端定制，品牌设计</div>

      </div>
    </div>
  </div>
</header>