{% set _route = app.request.attributes.get('_route') %}
{% set _article = ['article_list','article_info','article_category'] %}
{% set _case = ['case_list','case_info','case_category'] %}
<header role="heading" class="current {% if app.request.attributes.get('_route')!='home'  %}active{% endif %}">
  <div class="head-box">
    <div class="head-top">
      <div class="logo-box">
        <a href="{{ path('home') }}" title="文化创意服务|数字科技服务">
          <img src="{{ asset('static/images/logo_article.svg','frontend') }}" title="文化创意服务|数字科技服务" alt="文化创意服务|数字科技服务">
        </a>
      </div>

      <div class="jodo-box">
        <p><img src="{{ asset('static/images/wechat_code.svg','frontend') }}" alt="扫一扫并关注"/></p>

        <p>扫一扫并关注<em class="fa fa-mobile-phone"></em></p>

      </div>

    </div>
    <div class="nav-cut">
      <ul>

        <li class="nav1 {% if _route =='home' %}active{% endif %}"><a href="{{ path('home') }}" title="精彩首页">精彩首页</a></li>

        <li class="nav1 {% if _route in _article %}active{% endif %}">
          <a href="{{ path('article_list') }}"  title="新闻资讯" data-alert="全部">新闻资讯</a>
        </li>

        <li class="nav1 {% if _route in _case %}active{% endif %}">
          <a href="{{ path('case_list') }}"  title="案例展示" data-alert="全部">案例展示</a>
        </li>
        <li class="background"></li>
      </ul>
    </div>
    <div class="head-bottom">
      <div class="foto-box">

        <div class="social-box">

          <a href="http://wpa.qq.com/msgrd?v=3&uin=187060646&site=qq&menu=yes" rel="nofollow" target="_blank">
            <i class="fa fa-qq"></i>
          </a>

          <a href="http://p.qiao.baidu.com/cps/chat?siteId=11762979&userId=7007170" rel="nofollow" target="_blank"><i class="fa fa-commenting"></i></a>

          <a id="met-weixin"><i class="fa fa-weixin"></i></a>
          <div id="met-weixin-content" class="hide">
            <div class="text-center met-weixin-img"><img src="{{ asset('static/images/wechat_code.svg','frontend') }}" /></div>
          </div>

        </div>

        <div class="foto-cut">上海盟邑数字科技有限公司</div>

      </div>
    </div>
  </div>
</header>