{% macro toolbar(categorys,type,info) %}
  {% if type ==1 %}{% set _croute = 'article_category' %}{% set _scroute='article_secondcategory' %}{% elseif type==2 %}{% set _croute = 'case_category' %}{% set _scroute='case_secondcategory' %}{% endif %}
  {% set _params = app.request.get('_route_params') %}
  {% set _route = app.request.attributes.get('_route') %}

  <div class="sidebar-header {% if _route != 'case_info' %}active{% endif %}">
    <div class="sidebar-icon active">
      <i class="fa fa-arrow-left"></i>
      <i class="fa fa-th-list"></i>
    </div>
    <div class="sidebar-nav">
      <ol>{% if type==1 %}分类{% elseif type==2 %}分类{% endif %}</ol>
      <ul>
        <li class="{% if _route in ['article_list','case_list'] %}active{% endif %}">
		{% if type==1 %}
          <a href="{{ path('article_list') }}" title="全部">全部</a>
		{% elseif type==2 %}
		  <a href="{{ path('case_list') }}" title="全部">全部</a>
    	{% endif %}
        </li>
        {% for item in categorys %}
        <li class="{% if (_route==_croute and _params.category==item.route) or (info and info.categoryId==item.id) or (_route==_scroute and _params.category==item.route) %}active{% endif %}">
          <a href="{{ path(_croute,{category: item.route}) }}" title="{{ item.name }}">
              {{ item.name }}
          </a>
          {% if item.seconds %}
          <ul>
            {% for second in item.seconds %}
                <li><a href="{{ path(_scroute,{category:item.route,second:second.route}) }}">{{ second.name }}</a></li>
            {% endfor %}
          </ul>
          {% endif %}
        </li>
        {% endfor %}

      </ul>
    </div>
  </div>
{% endmacro %}

