{% if pageCount > 1 %}
    <style>
      .paging{margin:0 0 70px 40px}.qzPagination{display:inline-block;height:35px}.qzPagination .total{padding-right:8px}.qzPagination span{display:block;float:left;width:35px;height:35px;margin-right:-1px;font-family:Arial;font-size:16px;line-height:34px;text-align:center;background:#f6f6f6}.qzPagination a{display:block;float:left;width:35px;height:35px;margin-right:-1px;border:#dfdfdf 1px solid;color:#555;font-family:Arial;font-size:16px;line-height:34px;text-align:center;text-decoration:none;background:#f6f6f6}.qzPagination a:hover{background:#eee}.qzPagination span.current{position:relative;border:#2fd0b5 1px solid;color:#fff;font-family:Arial;background:#2fd0b5}.qzPagination span.disabled{border:#dfdfdf 1px solid;color:#aaa;cursor:not-allowed}.qzPagination .prev{-moz-border-radius:5px 0 0 5px;-webkit-border-radius:5px 0 0 5px;border-radius:5px 0 0 5px}.qzPagination .next{-moz-border-radius:0 5px 5px 0;-webkit-border-radius:0 5px 5px 0;border-radius:0 5px 5px 0}
    </style>
<div id="Paging" class="paging">
  <div class="qzPagination">
  {% if previous is defined %}
    <a href="{{ path(route, query|merge({(pageParameterName): previous})) }}{{ (auchor is defined) ? auchor : ''}}" class="prev">«</a>
  {% endif %}
  {% for page in pagesInRange %}
    {% if page != current %}
    <a href="{{ path(route, query|merge({(pageParameterName): page})) }}{{ (auchor is defined) ? auchor : ''}}">{{ page }}</a>
    {% else %}
      <span class="current">{{ page }}</span>
    {% endif %}
    {% endfor %}
  {% if next is defined %}
    <a href="{{ path(route, query|merge({(pageParameterName): next})) }}{{ (auchor is defined) ? auchor : ''}}" class="next">»</a>
  {% endif %}
  </div>
</div>
{% endif %}